@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* coloresPrimarios */
    --Cianoscuro: hsl(158, 36%, 37%);
    --Nata: hsl(30, 38%, 92%);

    /* Neutral */
    --Azulmuyoscuro: hsl(212, 21%, 14%);
    --Azulgrisáceooscuro: hsl(228, 12%, 48%);
    --Blanco: hsl(0, 0%, 100%);

    /*Fuentes*/
    --fuenteHeading: 'Fraunces', serif;    
    --fuenteTexto: 'Montserrat', sans-serif;
}
/*Globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {    
    font-size: 62.5%; /** 1rem = 10px**/
}

body{
    background-color: var(--Nata);
}
span, p{
    font-family: var(--fuenteTexto);
    color: var(--Azulgrisáceooscuro);
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}


/*Codigo Para centar el contenedor principal*/
.card-container {
    position: absolute;
    background-color: var(--Blanco);
    width: 90%;
    max-width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

/*seccion imagen*/
.card-img{
    background-image: url(/images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    border-radius:6px 6px 0 0;
}

/*Descripcion del Producto*/
.card-info{
    padding: 1.5rem;
}

.nombre-producto {
    letter-spacing: 3px;
    color: var(--Azulgrisáceooscuro);
}

.card-info__description{
    padding: 1rem 0;
}

.card-info__description p {
    padding: 1rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
}
.card-title {    
    font-family: var(--fuenteHeading);
    font-size: 3rem;
    font-weight: 700;
    color: var(--Azulmuyoscuro);
}

.card-info__precio {
    padding: 0 0 1rem;
    display: flex;
    align-items: center;
}
.card-info__precio .precio{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--fuenteHeading);
    color: var(--Cianoscuro);
}

.card-info__precio .precio-anterior{
    margin-left: 2rem;
    text-decoration: line-through;  
}

/*Seccion Boton*/
.boton {
    display: block;
    background-color: var(--Cianoscuro);
    font-family: var(--fuenteTexto);
    color: var(--Blanco);
    text-align: center;
    padding: 1.3rem 2.5rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;   
}
.boton:hover{
    background-color: hsl(158, 52%, 20%);
}

/*Media Query General*/
@media (min-width: 768px) {
    .card-container{
        display: flex;
        align-items: center;
        max-width: 50%;
        height: 450px;
        border-radius: 6px;
    }
    .card-img{
        background-image: url(/images/image-product-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 450px;
        border-radius: 6px 0 0 6px;
    }
    .card-info{
        padding: 0 1.5rem;
    } 
    .nombre-producto{
        padding: 1.5rem 0;
    }
    .card-title{
        padding: 0 0 1rem;
    }
    
    .card-info__description{
        padding: 3rem 0;
    }
    .card-info__description p {
        padding: 1rem 0;        
        line-height: 1.7;
    }
    .card-boton {
        padding-top: 1.5rem;
    }
}
